.fas{
    font-size: 25px;
    color: black;
}
.delEdit{
    text-align: right;
}
.nav-link{
    padding: 0 20px 0 0 !important;
    display: inline-block !important;
}
.fa-times{
    cursor: pointer
}